* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

body {
    background-color: black;
}

#slider {
    width: 1250px;
    height: 720px;
    vertical-align: middle;
}

#wrapper {
    overflow: hidden;
    width: 1250px;
    height: 720px;
}

#slider ul {
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 0;
}

#slider li {
    width: 1250px;
    height: 720px;
    background-size: 100% 100%;
}

#slider > ul {
    min-width: 4100px;
    min-height: 620px;
}

#slider > ul li {
    position: relative;
    float: left;
}

.right-navigation {
    position: fixed;
    right: 20px;
    top: 38%;
    width: 40px;
}

.right-navigation li {
    width: 40px;
    height: 40px;
    margin: 10px;
    list-style: none;
    position: relative;
    border-radius: 40px;
    box-shadow: inset 0 0 10px -2px white;
    border: solid 1px black;
}

.right-navigation li:after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    list-style: none;
    position: relative;
    border-radius: 40px;
    box-shadow: inset 0 0 10px black;
}

.marker-right {
    background: #c67605;
}
